<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />        
        <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen" charset="utf-8">
    </head>
    
    <body>
        <div class="boxgrid" role="main">
            
            <header class="box8">
                <h1>Devin Hunt's Big List</h1>
                <a href="">Add a task</a>
                <a href="">What. The. Fuck.</a>                
            </header>
            
            {% block content %}
            {% endblock %}
            
            <footer class="box8">
                I'm the footer!
            </footer>
        </div>
    </body>
</html>