<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />        
        <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen" charset="utf-8">
        <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    </head>
    
    <body>
        <div class="boxgrid" role="main">
            
            <header class="box2 reverse">
                <h1><span>Devin Hunt's</span> <br/> Big List</h1>
            </header>
            
            <section id="content" class="box6">
            {% block content %}
            {% endblock %}
            </section>
            
            <footer class="box8">
            </footer>
            
        </div>
    </body>
</html>